<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.tripinfo.repository.BoardMapper">

    <select id="reviewBoardList" resultType="com.project.tripinfo.model.Board">
            SELECT * FROM BOARD board ,MEMBER member WHERE board.member_id = member.member_id;
    </select>
</mapper>